<div class="row-fluid">
    <form class="stdform" action="/user/Cases/Insert" method="post">
        <p>
            <label>案件名称：</label>
            <span class="field"><input type="text" name="input5" class="input-xxlarge"
                                       placeholder=".input-xxlarge"/></span>
        </p>
        <!-- Gets replaced with TinyMCE, remember HTML in a textarea should be encoded -->
        <div>
                    <textarea id="elm1" name="elm1" rows="15" cols="80" style="width: 80%" class="tinymce">
                        &lt;p&gt;
                            This is some example text that you can edit inside the &lt;strong&gt;TinyMCE editor&lt;/strong&gt;.
                        &lt;/p&gt;
                    </textarea>
        </div>
        <br/>
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        <button type="reset" name="reset" class="btn">Reset</button>
    </form>
</div>

